/* Add a black background color to the top navigation */
.nav {
  background-color: rgb(198, 199, 235);
  overflow: hidden;
  width: 100%;
  top: 0;
  /* margin: 0px; */
  position: fixed;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: rgb(57, 57, 68);
  text-align: center;
  padding: 14px 70px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: rgb(153, 153, 153);
  color: white;
}