button {
    font-size: 1.1em;
    position: absolute; 
    right: 200px; 
    background-color: rgba(255,255,255,0.5); 
    border-radius: 10px; 
    border-style: solid;
    border-color: rgb(104, 104, 104);
    padding: 15px 100px;
    margin-bottom: 20px;
}

#resetBtn {
    display: none;
}

button:hover {
    background-color: rgb(23, 23, 73);;
    color: rgb(255, 255, 255);
}

#results {
    margin: 15px 0px 0px 20px;
}